/* RESTET */
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
/*HEADER*/

header{
    
    height: 100px;
    background: #4D4D5C;
    padding: 0 50px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .logo{
     text-transform: uppercase;
     color: #6cc091;
     font-weight: 200;
   
 }
 .menu a{
     color: #fff;
     text-transform: uppercase;
     text-decoration: none;
     padding: 0 10px;
    transition: 0.4s;
    
 }
 
 .mostrar-menu,
 .esconder.menu{
        font-size: 30px;
        cursor: pointer;
        display: none;
        transition: 0.4s;
      

 }
  .mostrar-menu{
      order: 1;
  }
  .menu a:hover,
  .mostrar-menu:hover,
  .esconder-menu:hover{
    color:#6cc091;
  }

  #check{
      display: none;
  }
  /*BANNER*/

  #banner{
      padding: 0 100px;
      background-image: url(./img/BTS1.gif);
      height: 100vh;
      background-size: cover;
      background-position: center;

  }
  #banner::before{
      content: '';
      background: rgba(77, 77, 92, 0.6);
      position: absolute;
      width: 100%;
      height: 0vh;
      left: 0;
  }
  .contenido-banner {
      position: relative;
      color: #fff;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .contenido-banner h3{
      font-size: 30px;
      font-weight: 200;
      padding: 10px 0px;
  }
    .contenido-banner h3 span{
        font-weight: 600;
    }
    .boton-empezar{
        text-decoration: none;
        color: #fff;
        border: 1px solid #6cc091;
        padding: 20px 40px;
        align-self: baseline;
        transition: all 0.4s;

    }
    .boton-empezar:hover{
        background: #6cc09070;
    }

    /*Personas*/
    #personas{
        padding: 50px 50px;
        display: flex;
        justify-content: center;
        text-align: center;
        
        
    }
    #personas img{
        border-radius: 100%;
        max-width: 50%;
        max-height: 60%;
        align-content: center;
    
    
        
    }
    #personas div{
        padding: 30px 30px;
    }
    #personas div h4{
        color: #4D4D5C;
        font-size: 20px;
        margin: 15px 0px;
    }
    #personas div p{
        color: #4D4D5C;
        font-size: 18px;
        text-align: center;
    }
    .boton-saber-mas{
        display: inline-block;
        text-decoration: none;
        color: #6cc091;
        padding: 10px 30px;
        border: 3px solid #6cc091;
        border-radius: 30px;
        margin-top: 15px;
        transition: all 0.4s;
    }
    .boton-saber-mas:hover{
        background: #6cc091;
        color: #fff;
    }

    /*ICONOs*/
    #iconos{
        padding: 0px 50px;
        background: rgba(90, 116, 146, 0.6)
    }
    .contenidos-iconos{
        padding: 50px 50px 0 50px;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

  .contenidos-iconos div{
    flex: 1;
    margin: 20px 0px;
    border-right: 2px solid rgba(255, 255, 255, 0.2);
}
#icono-mobile{
    border: none;
}
.contenidos-iconos div i{
    color: #5f78e6;
}
.contenidos-iconos div h6{
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    margin: 10px 0px;
}
.contenidos-iconos div p{
    color: rgba(255, 255, 255, 0.55);
    font-size: 15px;   
}
.boton-icono{
    text-align: center;
    padding-bottom: 50px;
}

footer{
    background: #4D4D5C;
    color: #cccccc4a;
    text-align: center;
    padding: 10px 0;
}


  /*RESPONSIVE*/

  @media(max-width: 768px){

    /*HEADER*/

    .mostrar-menu,
    .esconder-menu{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #4D4D5C;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;

    }
    .menu a{
        display: block;
        padding: 20px;

    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }
        #check:checked ~ .menu{
            right: 0;
        }
        

        /*PERSONAS*/

        #personas{
            flex-direction: column;
            
        }
        
            
            /* ICONO*/

            .contenidos-iconos{
                flex-direction: column;
            }
            .contenidos-iconos div{
                border: none;
            }
            /*FORMULARIO*/

            .datos-form{
                flex-direction: column;
            }
  }